.main_bg {
    background:url(../images/7598163.jpg) fixed center; background-size:cover;}
/* profile */
.main_bg .profile {
    height:100%; display:flex; flex-flow:column nowrap; justify-content: center; align-items: center; padding:250px 0 100px;}
.main_bg .profile .photo {
    width:200px; height:200px; overflow:hidden; border:5px solid #fff; border-radius:50%; animation:photo 1.5s linear infinite alternate;}
.main_bg .profile .photo img {width:100%; position:relative; top:-20px;}
.main_bg .profile h1 {
    font-family: 'Lobster', cursive; font-size:2rem; font-weight:600; letter-spacing:-0.02em; margin-top:20px;
    background:linear-gradient(90deg, magenta, aqua, magenta);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-size:400%;
    animation:text_bg 5s linear infinite alternate;
}
.main_bg .profile .loading_bar {
    width:300px; height:10px; border-radius:10px; background:#fff; margin:20px 0; overflow:hidden;}
.main_bg .profile .loading_bar .bar {
    width:300px; height:10px; border-radius:10px; background:magenta; transform:scaleX(0); display:block; transform-origin:left center; transition:all 3s;}
.main_bg .profile .photo:hover~.loading_bar .bar {transform:scaleX(1);} 
.main_bg .profile p {margin-top:20px; font-weight:800;}
.main_bg .profile .sns {display:flex; padding:30px 0;}
.main_bg .profile .sns a {width:25px; margin-right:20px; position:relative;}
.main_bg .profile .sns a:last-child {margin-right:0;}
.main_bg .profile .sns a img {width:100%;}
.main_bg .profile .sns a .sns_name {
    font-family: 'Lobster', cursive; background:#000; color:#fff; padding:5px;
    position:absolute; top:40px; transform:translateX(-80%); opacity:0;
}
.main_bg .profile .sns a:nth-child(1):hover > .sns_name {opacity:1;}
.main_bg .profile .sns a:nth-child(2):hover > .sns_name {opacity:1;}
.main_bg .profile .sns a:nth-child(3):hover > .sns_name {opacity:1;}
/* nav */
.main_bg .nav {
    margin:0 auto; width:30px; height:25px; display:flex; flex-flow:column nowrap; justify-content:space-between;} 
.main_bg .nav span {
    width:100%; height:5px; background:#0f0f0f; border-radius:4px; transition:all 0.3s;}
.main_bg .nav span:nth-child(1) {top:0;}
.main_bg .nav span:nth-child(2) {}
.main_bg .nav span:nth-child(3) {bottom:0;}
.main_bg .nav:hover span:nth-child(1) {transform:translateY(10px) rotate(45deg);}
.main_bg .nav:hover span:nth-child(2) {opacity:0;}
.main_bg .nav:hover span:nth-child(3) {transform:translateY(-10px) rotate(-45deg);}
/* portfolio 2023 */
.main_bg .pf_2023_bg_wrap { padding:100px 0;}
.main_bg .pf_2023_bg_wrap .pf_2023_bg_1 {
    height:200px; background:url(../images/bg2.png) repeat-x; 
    transform:rotate(-10deg) ; 
    animation:pf_bg 10s linear infinite;
}
.main_bg .pf_2023_bg_wrap .pf_2023_bg_2 {
    height:200px; background:rgba(0,0,0,0.8) url(../images/bg3.png) repeat-x; 
    transform:rotate(10deg); 
    animation:pf_bg 10s linear infinite reverse;
}
/* 코카콜라 프로젝트 */
.main_bg .project_wrap {max-width:1260px; margin:0 auto; padding:150px 0; }
.main_bg .project_wrap .project {display:flex; flex-flow:row nowrap; justify-content: space-between; }
.main_bg .project_wrap .project a {height:350px; width:calc(25% - 21px / 4);
    display:flex; flex-flow:column nowrap;
    border-radius:100px 100px 0 0; 
    background:url(../images/profile.jpg) center; background-size:auto 100%; margin-right:7px;
    transition:all 0.3s;}
    .main_bg .project_wrap .project a:last-child {margin-right:0;}
.main_bg .project_wrap .project a .project_photo {height:100%;}
.main_bg .project_wrap .project a .intro {background:#fff; padding:20px; text-align: center;}
.main_bg .project_wrap .project a .intro h1 {font-weight:600;}
.main_bg .project_wrap .project a .intro p {line-height:2;}
.main_bg .project_wrap .project a:hover {
    background-size:auto 105%; box-shadow:5px 5px 10px rgba(0,0,0,0.8);}
/* footer */
.main_bg footer {
    color:#fff; text-align:center; font-size:2rem; line-height:1.5; text-shadow:0 0 5px #222; padding:50px 0 200px;}
/* animation */
@keyframes photo {
    0% {transform:translateY(0);}
    100% {transform:translateY(-30px);}
}
@keyframes text_bg {
    0% {background-position-x:0;}
    100% {background-position-x:200%;}
}
@keyframes pf_bg {
    0% {background-position-x:0;}
    100% {background-position-x:-1000px;}
}